body {
  .itt_text {
    h3 {
      color:$primary-color;
    }
  }

  .itt_line-height-20 {
    line-height:20px;
  }

  .itt_card-heading {
    font-size: 10px;
    padding: 5px;
  }

  .itt_btn-block {
    margin: 0px auto 0px;
    display: flex;
    justify-content: space-between;

    .itt_btn-zum {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      background-color: $btn_product_bg;
      border-radius: 0 5px 0 0;
    }
    .itt_btn-bei-amazon {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      background-color: $btn_amazon_bg;
      border-radius: 5px 0 0 0;
    }
    .itt_btn-mp {
      margin-top: 10px;
      padding: 11px 28px;
    }
  }

}

