// ---=== Buttons ===---
.itt_btn-wrapper {
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-around;
}

.itt_btn {
  margin-top: 10px;
  padding: 11px 28px;
}

$status-colors: (
        primary: $primary-color,
        success: $success,
        info: $info,
        warning: $warning,
        danger: $danger
);

.itt_btn {
  @each $status, $color in $status-colors {
    &-#{$status} {
      text-decoration: none;
      cursor: pointer;
      color: $btn_default;
      background-color: $status;

      &:hover {
        color: $btn_hover;
        box-shadow: 1px 1px 5px 0 rgba(60,65,76,0.7);
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.itt_btn-default {
  text-decoration: none;
  cursor: pointer;
  color: $btn_default;
  background-color: $btn_default_bg;

  &:hover {
    color: $btn_hover;
    box-shadow: 1px 1px 5px 0 rgba(60,65,76,0.7);
    transition: all 0.5s ease-in-out;
  }
}

.itt_btn-amazon {
  text-decoration: none;
  cursor: pointer;
  color: $btn_default;
  background-color: $btn_amazon_bg;
  border-radius: 5px;
  padding: 5px 20px;
  border: none;

  &:hover {
    box-shadow: 1px 1px 5px 0 rgba(60,65,76,0.7);
    transition: all 0.5s ease-in-out;
  }
}

.itt_btn-product {
  text-decoration: none;
  cursor: pointer;
  color: $btn_default;
  background-color: $btn_product_bg;
  border-radius: 5px;
  padding: 5px 20px;
  border: none;

  &:hover {
    box-shadow: 1px 1px 5px 0 rgba(60,65,76,0.7);
    transition: all 0.5s ease-in-out;
  }
}