// ---=== Pagination ===---
.itt_pagination {
  display: inline-flex;
  align-items: center;

  li.itt_pagination-item {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;

    &.itt_round-border {
      border: 1px solid #8d9091;
    }

    a {
      color: #8d9091;

      &:hover {
        color: #3c414c;
      }
    }
  }
}