.itt_price-wrap {

  .itt_old-price {
    text-decoration: line-through;
  }

  .itt_new-price {
    color: $primary-color;
    font-size: 30px;

    .itt_currency {
      color: $primary-color;
    }
  }
}