.itt_news-card {
  position: relative;
  margin-top: 20px;

  .itt_news-desc {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0,0,0, 0.8);
    height: 80px;
  }
}