// ---=== Default styles ===---

hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid $border_color;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.itt_container {
  margin: 0 auto;
  position: relative;
}

.itt_flex {
  display: flex;
}

.itt_row {
  flex-direction: row;
}

.itt_column {
  flex-direction: column;
}

.itt_flex-wrap {
  flex-wrap: wrap;
}

.itt_right {
  justify-content: flex-end;
}

.itt_left {
  justify-content: flex-start;
}

.itt_center {
  justify-content: center;
}

.itt_between {
  justify-content: space-between;
}

.itt_top {
  align-items: flex-start;
}

.itt_bottom {
  align-items: flex-end;
}


.itt_middle {
  align-items: center;
}

.itt_flex-1 {
  flex: 1;
}

.itt_flex-05 {
  flex: 0.5;
}

@for $i from 1 through 10 {
  .itt_h-#{$i * 10} {
    height: $i * 10%;
  }

  .itt_w-#{$i * 10} {
    width: $i * 10%;
  }
}

:focus {
  outline: none;
}

.itt_upper-case {
  text-transform: uppercase;
}

// Font
  @for $i from 1 through 10 {
    .itt_font-size-#{$i * 10} {
      font-size: $i * 10px;
    }
  }

  .itt_text-left {
    text-align: left;
  }

  .itt_text-center {
    text-align: center;
  }

  .itt_text-right {
    text-align: right;
  }

  .itt_text-bold {
    font-weight: 700;
  }

  .itt_font-bold {
    font-family: Roboto-Bold;
  }

  .itt_font-light {
    font-family: Roboto-Light;
  }

// Borders
  @for $i from 1 through 10 {
    .itt_border_top-#{$i} {
      border-top: #{$i}px solid $border_color;
    }

    .itt_border_right-#{$i} {
      border-right: #{$i}px solid $border_color;
    }

    .itt_border_bottom-#{$i} {
      border-bottom: #{$i}px solid $border_color;
    }

    .itt_border_left-#{$i} {
      border-left: #{$i}px solid $border_color;
    }
  }

// Box shadow
.itt_box-shadow-02 {
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
}


// Padding
  .itt_p-clear {
    padding: 0;
  }

  @for $i from 1 through 10 {
    .itt_pt-#{$i * 5} {
      padding-top: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_pr-#{$i * 5} {
      padding-right: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_pb-#{$i * 5} {
      padding-bottom: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_pl-#{$i * 5} {
      padding-left: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_padding-#{$i * 5} {
      padding: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_prl-#{$i * 5} {
      padding: 0 $i * 5px;
    }
  }


// Margins
  .itt_m-clear {
    margin: 0;
  }

  .itt_m-auto {
    margin: 0 auto;
  }

  @for $i from 1 through 10 {
    .itt_mt-#{$i * 5} {
      margin-top: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_mr-#{$i * 5} {
      margin-right: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_mb-#{$i * 5} {
      margin-bottom: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_ml-#{$i * 5} {
      margin-left: $i * 5px;
    }
  }

// Display
  .itt_show {
    display: block !important;
  }

  .itt_hidden {
    display: none;
  }

// ---=== COLORS ===---
  // bg colors
  .itt_bg-orange {
    background-color: $orange;
  }

  .itt_bg-green {
    background-color: $green;
  }

  .itt_bg-yellow {
    background-color: $yellow;
  }

  .itt_bg-violet {
    background-color: $violet;
  }

  .itt_bg-grey {
    background-color: $grey;
  }

  .itt_bg-light-grey {
    background-color: $light_grey;
  }

  .itt_bg-footer-top {
    background-color: $footer_top_bg;
  }

  .itt_bg-footer-bot {
    background-color: $footer_bot_bg;
  }

  .itt_bg-white {
    background-color: #fff;
  }

  .itt_bg-primary {
    background-color: $primary-color;
  }

  // colors
  .itt_color-primary {
    color: $primary-color;
  }

  .itt_color-secondary {
    color: $secondary-color;
  }

  .itt_color-mega-yellow {
    color: $mega_yellow;
  }

  .itt_color-yellow {
    color: $yellow;
  }

  .itt_color-orange {
    color: $orange;
  }

  .itt_color-grey {
    color: $grey;
  }

  .itt_color-dark-grey {
    color: $dark_grey;
  }

  .itt_color-white {
    color: #fff;
  }

//---=== Titles ===---
  @for $i from 1 through 10 {
    .itt_title-#{$i * 7} {
      font-size: $i * 7px;
    }
  }

  @for $i from 1 through 5 {
    .itt_subtitle-#{$i * 7} {
      font-size: $i * 7px;
    }
  }


// ---=== Border radius ===---
  @for $i from 1 through 10 {
    .itt_br-#{$i * 5} {
      border-radius: $i * 5px;
      overflow: hidden;
    }
  }

  @for $i from 1 through 10 {
    .itt_br-bl-#{$i * 5} {
      border-bottom-left-radius: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_br-br-#{$i * 5} {
      border-bottom-right-radius: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_br-tl-#{$i * 5} {
      border-top-left-radius: $i * 5px;
    }
  }

  @for $i from 1 through 10 {
    .itt_br-tr-#{$i * 5} {
      border-top-right-radius: $i * 5px;
    }
  }


// Thumbs
.itt_img-100 {
  width: 100%;
}

// Link
.itt_link {
  
  &:hover {
    color: $link_hover;
  }
}

// ---=== Form ===---
  .itt_form-control {
    padding: 10px 0;

    input[type="text"] {
      border: 1px solid $border_color;
      border-radius: 5px;
      padding: 10px 0 10px 10px;
      width: 94%;
      background-color: $input_bg;

      &:hover {
        color: $primary-color;
      }

      &:focus {
        border: 1px solid $primary-color;
        transition: all 0.5s ease-in-out;
      }
    }

    .itt_btn-submit {
      background-color: transparent;
      padding: 10px;
      border: 1px solid $primary-color;
      border-radius: 5px;
      color: $primary-color;
      cursor: pointer;
      background-color: #fff;

      &:hover {
        box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
        transition: all 0.5s ease-in-out;
      }
    }

    textarea {
      width: 98%;
      height: 80px;
      border: 1px solid $border_color;
      border-radius: 5px;
      padding: 10px 0 10px 10px;
      background-color: $textarea_bg;

      &:hover {
        color: $primary-color;
      }

      &:focus {
        border: 1px solid $primary-color;
        transition: all 0.5s ease-in-out;
      }
    }
  }


// ---=== Crop images ===---
  .itt_crop {
    overflow: hidden;
    height: 370px;

    img {
      margin-top: -180px;
    }
  }

  .itt_cover-img {
    height: 23em;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
  }

  .itt_cover-text {
    font-size: 50px;
  }

// ---=== Filters
  .itt_darken {
    filter: brightness(50%);
  }


// ---=== Blog ===---
  .itt_post-info {
    font-size: 12px;

    .itt_post-info-item:before {
      display: inline-block;
      content: "|";
      vertical-align: top;
      font-style: normal;
      margin: 0 0.6em;
    }

    .itt_post-info-item:nth-child(1):before {
      content: "";
      margin: 0;
    }
  }

  .itt_post-desc, .itt_comment-notes {
    color: $post_desc_color;
    line-height: 25px;
  }

  .itt_short-desc {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 30%;
    color: $short_desc_color;
    background-color: $short_desc_bg;
    opacity: 0.9;
    font-size: 18px;
    margin: 0;
  }


// ---=== Single blog page ===---
  img.itt_author_avatar {
    width: 75px;
    border-radius: 50%;
  }

// ---=== Footer ===---
  .itt_wrap-copyright {
    min-height: 75px;
  }

  .itt_min-height-500 {
    min-height: 500px;
  }


  .itt_line-height-25 {
    line-height: 25px;
  }